{% load comments i18n %}
<form id="comment-form" action="{% comment_form_target %}" method="post">{% csrf_token %}
  <input type="hidden" name="next" value="{{ post.get_absolute_url }}#last-comment" />
  {% for field in form %}
    {% if field.name == "url" or field.name == "email" %}
    {% elif field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} <br> {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="发表" />
  </p>
</form>
