body {
    height: 98%;
    margin-top: .6em;
}

#site-wrapper {
    min-height: 89%;
    padding-bottom: 6em;
    border-radius: 3em;
    margin: 0 auto 1em;
    max-width: 900px;
    background-image: url(../images/bg.png);
    background-position: 70%;
    background-repeat: repeat-y;
}

#site-header h1 {
    display: none;
}

#site-header img {
    display: inline;
}

#site-header p {
    line-height: 0em;
}

#site-bar {
    clear: none;
    padding: 0;
    margin: 1.2em 3% 0 73%;
}

#site-main {
    float: left;
    width: 64%;
}
