{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
{% endblock %}

{% block content %}
<p><img id="me" src="{% static 'blog/images/me.jpg' %}" alt="image of me"></p>
<dl>
    <dt>杨文浩</dt>
    <dd>住址: 广东珠海<br>
        职业: 程序员<br>
	网站: <a class="long-word" href="http://www.yangwenhao.com">http://www.yangwenhao.com</a><br>
	联系方式: <a class="long-word" href="http://www.yangwenhao.com/contact/">http://www.yangwenhao.com/contact/</a></dd>
    
    <dt>感兴趣的方向</dt>
    <dd>网络方面的应用程序开发</dd>

    <dt>工作经历</dt>
    <dd>2008-2010: 珠海伟创力，任测试工程师<br>
        2010-2010: 广州农商银行，任柜台<br>
        2010-2013: 自由程序员</dd>
 
    <dt>学过的技术</dt>
    <dd>Python、Django、HTML、CSS、JavaScript&amp;jQuery、PHP、C、C++、Linux、Java、TCP/IP、HTTP、Scheme、Bash、VIM、Heroku、git、github、数据结构和算法、数据库和SQL、计算机系统、计算机程序的构造和解析、计算机程序设计等。</dd>

    <dt>项目</dt>
    <dd>基于django的个人博客<a class="long-word" href="https://github.com/yangwenhao/yangwenhaos-blog">https://github.com/yangwenhao/yangwenhaos-blog</a></dd>

    <dt>教育背景</dt>
    <dd>广东工业大学电子信息工程专业08届本科毕业生</dd>
</dl>
{% endblock %}


