{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/archives.css' %}">
{% endblock %}

{% block content %}
<h2 id="archives-title">全部文章</h2>
<ul>
{% for post in ordered_posts %}
{% with date=post.pub_date title=post.title %}
    {% ifchanged date|date:"Y年n月" %}
        {% if not forloop.first %}
            </ul>
	    </li>
	{% endif %}
        <li><p class="archive-pubdate">{{ date|date:"Y年n月" }}</p>
	<ul>
    {% endifchanged %}
    <li class="archive-post-title"><a href="{% url 'blog:detail' date.year date.month date.day title %}">{{ title }}</a></li>
{% endwith %}
{% endfor %}    
{% if ordered_posts %}
    </ul>
    </li>
{% endif %}
</ul>
{% endblock %}

